<footer class="relative overflow-hidden bg-scale-950 pb-6">
  <div class="mx-auto px-6 sm:px-12 lg:px-20 flex flex-col md:flex-row items-center justify-between lg:gap-96">
    <span class="text-sm  text-left">
      © <a href="https://midu.dev/" class="hover:underline">Estefany</a>. Los derechos reservados
    </span>
    <ul class="flex flex-wrap mt-3 md:mt-0 text-sm font-medium space-x-4">
      <li><a href="/about" class="hover:underline">Sobre mí</a></li>
      <li><a id="contacto" href="mailto:destefanytaip@gmail.com" class="hover:underline">Contacto</a></li>
    </ul>
  </div>
</footer>

