<footer class="bg-scale-950 text-white opacity-80 w-full max-w-screen-xl py-4 px-5">
  <div class="flex justify-center items-center flex-col md:flex-row md:justify-between">
    <span class="text-sm text-center">©
      <a href="https://midu.dev/" class="hover:underline">Estefany</a>. Los derechos reservados
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium">
      <li><a href="/about" class="hover:underline me-4 md:me-6">Sobre mí</a></li>
      <li><a id="contacto" href="destefanytaip@gmail.com" class="hover:underline">Contacto</a></li>
    </ul>
  </div>
</footer>
