<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-center p-6 lg:px-8 relative">
    <!-- Menú en pantallas grandes -->
    <div class="hidden lg:flex lg:gap-x-10 justify-center">
      <a *ngFor="let item of navItems" (click)="scrollToSection(item.url)"
        class="text-white hover:text-blue-900 cursor-pointer px-4 py-2 rounded-md">
        {{ item.title }}
      </a>
    </div>

    <!-- Botón de menú en pantallas pequeñas (ubicado al final) -->
    <button type="button" (click)="toggleMenu()" class="lg:hidden p-2 text-slate-500 ml-auto">
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </nav>

  <!-- Menú móvil -->
  <div *ngIf="isMenuOpen" class="fixed inset-0 z-50 bg-slate-950 p-6 lg:hidden">
    <div class="flex justify-end items-center">
      <button type="button" (click)="toggleMenu()" class="p-2 text-gray-400">
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <nav class="mt-6 flex flex-col gap-4">
      <a *ngFor="let item of navItems" (click)="scrollToSection(item.url)"
        class="text-white hover:text-blue-900 cursor-pointer px-4 py-2 rounded-md">
        {{ item.title }}
      </a>
    </nav>
  </div>

</header>