<section class="relative overflow-hidden bg-scale-950 py-6 px-5">
  <h2 class="text-3xl text-white font-bold mb-16 flex items-center justify-center">
    <svg class="w-8 h-8 mr-2 text-blue-700" fill="currentColor" viewBox="0 0 20 20">
      <path d="M12 7a2 2 0 11-4 0 2 2 0 014 0zM10 4a4 4 0 100 8 4 4 0 000-8zM2 13a2 2 0 100 4 2 2 0 000-4zm14-1a2 2 0 100 4 2 2 0 000-4zm-7 2a7 7 0 00-5.467 2.87C4.161 17.279 5.388 18 7 18h6c1.612 0 2.839-.721 3.467-1.13A7 7 0 009 14z"></path>
    </svg>
    Información Adicional
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
    <div *ngFor="let item of items" class="relative flex flex-col items-center border-2 border-blue-700 bg-scale-950 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl cursor-pointer" (click)="openModal(item)">
      <!-- Imagen -->
      <img [src]="item.image" [alt]="item.altText" class="w-full h-32 md:h-28 lg:h-32 object-cover rounded-t-lg">

      <!-- Contenido -->
      <div class="p-2 flex flex-col items-center text-start">
        <h3 class="text-xs font-bold mb-1 text-white">{{ item.title }}</h3>
        <p class="text-xs text-white">{{ item.description }}</p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="selectedItem" class="fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50" (click)="closeModal()">
    <div class="relative bg-white rounded-lg max-w-4xl mx-4 md:mx-10">
      <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-700" (click)="closeModal()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <img [src]="selectedItem.image" [alt]="selectedItem.altText" class="w-full h-auto object-cover rounded-t-lg">
      <div class="p-4">
        <h3 class="text-lg font-bold">{{ selectedItem.title }}</h3>
        <p>{{ selectedItem.description }}</p>
      </div>
    </div>
  </div>
</section>
