<!-- <div class="flex flex-col justify-center items-center space-x-10 px-20">
  <app-header></app-header>


  <section id="about">
    <app-about></app-about>
  </section>

  <section id="education">
    <app-education></app-education>
  </section>

  <section id="experience">
    <app-experience></app-experience>
  </section>

  <section id="skills">
    <app-skills></app-skills>
  </section>

  <section id="additional-info">
    <app-additional-info></app-additional-info>
  </section>



  <app-footer></app-footer>
</div> -->

<section class="relative overflow-hidden bg-scale-950 max-w-[400px] md:max-w-[800px] mx-auto lg:max-w-[936px]">
  <div class="lg:flex lg:gap-x-10 justify-center items-center flex-col">
    <app-header></app-header>


    <section id="about">
      <app-about></app-about>
    </section>
  
    <section id="education">
      <app-education></app-education>
    </section>
  
    <section id="experience">
      <app-experience></app-experience>
    </section>
  
    <section id="skills">
      <app-skills></app-skills>
    </section>
  
    <section id="additional-info">
      <app-additional-info></app-additional-info>
    </section>
  
  
  
    <app-footer></app-footer>
  </div>
</section>