<div class="container mx-auto px-4 md:px-8 lg:px-16 xl:px-72 bg-scale-950 text-white min-h-screen">
    <app-header></app-header> <!-- Navbar o Topbar -->

    <!-- Secciones de la página con sus respectivos IDs -->
   
    <section id="about">
        <app-about></app-about>
      </section>
      
      <section id="education">
        <app-education></app-education>
      </section>
      
      <section id="experience">
        <app-experience></app-experience>
      </section>
      
      <section id="skills">
        <app-skills></app-skills>
      </section>
      
      <section id="additional-info">
        <app-additional-info></app-additional-info>
      </section>
      
   

    <app-footer></app-footer>
</div>
