<section class="relative overflow-hidden bg-scale-950 py-8 px-5">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center justify-between">
      
      <div class="flex-1 sm:text-start mb-4 md:mb-0 text-center">
        <h2 class="text-3xl text-white font-bold mb-2">Educación Superior</h2>
        <p class="text-white">Instituto de Educación Superior Tecnológico TECSUP</p>
      </div>
      
      <div class="flex-1 flex justify-center">
        <img src="../../../assets/images/logo-tec.png" alt="Tecsup Logo" class="w-50 h-50 md:w-80 md:h-80 object-contain animate-pulse">
      </div>
      
    </div>
  </div>
</section>
