<section id="education" class="relative overflow-hidden bg-scale-950 pt-6 pb-6 px-5">
  <div class="max-w-[936px] mx-auto lg:flex lg:gap-x-10 justify-center">
      <div class="flex flex-col md:flex-row items-center justify-center lg:gap-60">
          <div class="flex-1 text-center sm:text-start" data-aos="zoom-out-right">
              <h2 class="text-3xl sm:text-4xl text-white font-bold">Educación Superior</h2>
              <p class="text-white text-base sm:text-lg">Instituto de Educación Superior Tecnológico TECSUP</p>
          </div>

          <div class="flex-1 flex justify-center" data-aos="zoom-out-left">
              <img src="../../../assets/images/logo-tec.png" alt="Tecsup Logo" class="w-40 h-40 sm:w-60 sm:h-60 md:w-80 md:h-80 object-contain animate-pulse">
          </div>
      </div>
  </div>
</section>
